@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: #eee;
  margin: 0;
  height: 100%;
  font: 18px "Open Sans";
  color: #2d2828;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.red {
  color: red;
}

.header {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#grid {
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.cell {
  width: 25%;
  height: 25%;
  float: left;
}
